/* Général */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

html {
}

body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bol;
}

* {
  box-sizing: border-box;
}

/* Header */

header {
  height: 100px;
}
.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* height: 2rem; */
}

.header-elements-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-element-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.header-element-container p {
  font-size: 0.8rem;
}

header .logo {
  flex: 1;
}

header .input-search {
  width: 50%;
}

header .input-search input {
  width: 100%;
}
header .input-price {
  width: 10%;

  /* border: 1px solid lightgrey; */
}

header input {
  /* width: 80%; */
  color: grey;
  border: none;
  background-color: rgba(239, 226, 226, 0.875);
  border-radius: 5px;
}

header a {
  text-decoration: none;
}

header .other-tag {
  border: 1px solid lightseagreen;
  color: lightseagreen;
  padding: 5px;
  border-radius: 5px;
}

.header-tag-logout {
  background-color: rgb(105, 27, 27);
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

header .sell-tag {
  background-color: lightseagreen;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.banner-container img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 300px;
  object-fit: cover;
  width: 100%;
}

/* Home page */
main {
  /* background-color: lightgray; */
  /* min-height: 100vh; */
}
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  /* height: calc(100vh - 100px); */
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-x: hidden;
}

.image-container img {
  width: 200px;
  height: 320px;
  object-fit: cover;
}

.offer-card-container {
  text-decoration: none;
  margin-top: 1rem;
}
.offer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
  height: calc(100vh - 100px);
}

.offer-container hr {
  border: 1px solid lightgray;
  width: 100%;
}

.header-image-container {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: grey;
  font-size: 0.8rem;
}

.images-container div p {
  color: grey;
  font-size: 0.8rem;
}
.images-container div p:first-child {
  font-size: 1.2rem;
  /* font-weight: bold; */
  color: black;
}

.offer-image {
  width: 30%;
}

.offer-image img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  width: 100%;
}
.offer-data {
  height: 300px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 1rem;
}

.offer-detail {
  display: flex;
  flex-direction: column;
}

.offer-detail-element {
  display: flex;
  justify-content: space-between;
}

.offer-detail-title {
  color: grey;
}

.product-price {
  font-weight: bold;
  font-size: 1rem;
}
.product-name-container {
  font-weight: bold;
  font-size: 1rem;
}
.product-desc-container {
  color: grey;
  font-size: 1rem;
}

/* Signup */

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-field {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  /* width: 3rem; */
}
input {
  background-color: #fcf9f9;
  border: solid 1px grey;
  height: 2rem;
  border-radius: 5px;
}

.button {
  background-color: violet;
  color: white;
  border: none;
  width: 200px;
}

.error {
  color: red;
  display: flex;
}

.no-error {
  display: none;
}

/* Pagination */
.pagination-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.pagination-container button {
  border: none;
  background-color: lightseagreen;
  color: white;
  font-weight: bold;
}

.pagination-container input {
  background-color: lightseagreen;
  color: white;
  border: none;
  text-align: center;
}

/* PUBLISH */

.publish-container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebedee;
  height: calc(100vh - 100px);
}

.publish-container form {
  width: 75%;
}
.publish-general-container {
  border: 1px solid rgb(236, 226, 226);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background-color: white;
  color: grey;
}

.publish-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(236, 226, 226);
}

.publish-item-container input {
  border: none;
  width: 60%;
  /* margin: 1rem; */
}

.publish-item-container p {
  margin-top: 1rem;
  font-weight: bold;
  vertical-align: center;
}

/* Paiement */

.payment-container {
  max-width: 768px;
  margin: 0 auto;
}

.payment-container h2 {
  font-size: 1rem;
  font-weight: bold;
  color: lightgray;
  display: flex;
  flex-direction: column;
}

.payment-elements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  margin-bottom: 1rem;
}

.payment-element-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.payment-button {
  background-color: green;
  color: white;
  width: 100%;
  height: 2rem;
}
